pipeline/fail_always.json
{
	"name": "fail_always",
	"properties": {
		"activities": [
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "Pipeline Failure",
					"errorCode": "1009"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fail1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "teams_alerts",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('Fail1').output.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}