pipeline/ordered_incremental_pipeline.json
{
	"name": "ordered_incremental_pipeline",
	"properties": {
		"activities": [
			{
				"name": "GetAllTablesInConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  SchemaName, TableName FROM stage.TableLoadOrder ORDER BY TableOrderNumber ASC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ConfigTableAzSQLDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetEachTableForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllTablesInConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllTablesInConfig').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetTableMetadataFromConfig",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT SchemaName as DestSchemaName, PrimaryKey1, PrimaryKey2, LastUpdated AS OldLastModified FROM stage.TableLoadOrder WHERE TableName = ''',item().TableName,'''',';' )}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ConfigTableAzSQLDataset",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "GetLastModifiedDateFromSource",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT MAX(LastUpdateDate) AS NewLastModified FROM ',item().SchemaName,'.',item().TableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OnPremGenericSelectSourceDate_Dataset",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CopyEachTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetTableMetadataFromConfig",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "GetLastModifiedDateFromSource",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ',item().SchemaName,'.',item().TableName,' WHERE LastUpdateDate > ''', activity('GetTableMetadataFromConfig').output.firstRow.OldLastModified,'''',' AND LastUpdateDate <= ''',activity('GetLastModifiedDateFromSource').output.firstRow.NewLastModified,'''',';')}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": {
											"value": "@createArray(activity('GetTableMetadataFromConfig').output.firstRow.PrimaryKey1, activity('GetTableMetadataFromConfig').output.firstRow.PrimaryKey2)",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OnPremGenericSelectSourceDate_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzSQL_Generic_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"DestSchema": {
											"value": "@activity('GetTableMetadataFromConfig').output.firstRow.DestSchemaName",
											"type": "Expression"
										},
										"DestTable": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Config Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyEachTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateTableLoadOrder_UpdateDate]",
								"storedProcedureParameters": {
									"LastUpdated": {
										"value": {
											"value": "@activity('GetLastModifiedDateFromSource').output.firstRow.NewLastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}